<!-- App Section-->
<section class="page-section portfolio" id="personalize">
  <div class="container">
    <!-- App Section Heading-->
    <h2 class="text-center text-uppercase text-secondary mb-0">Onlinefraude te vermijden</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- App Grid Items-->
    <div class="row">
      <!-- App Item 1-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-play"></i></div>
          </div>
          <img class="img-fluid" src="https://www.ing.com/upload/2c3d204c-76aa-4e1d-b377-59f0d641acaf_SSLEay-Library.jpg"
            alt="" />
            <br/><br/>
          <b>Advanced Fee Fraud</b>
          <br /><i>You may already have heard of ‘advanced fee fraud’, where emails offering large sums of money are sent to thousands of email addresses, but a modest ‘fee’ was required in order to cover legal fees, open an account or pay customs charges. Sometimes the money offered is as a result of a lottery for which you have never bought a ticket. </i>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-play"></i>
            </div>
          </div>
          <img class="img-fluid" src="https://www.ing.com/upload/330b104a-36b1-4b07-bc72-de0146869f29_SSL.jpg"
            alt="" />
            <br/><br/>
          <b>Imitation of ING websites and Apps</b>
          <br /><i>ING monitors the internet to find imitation websites and apps, which are often the first step made by phishers. We then work with the appropriate international authority to get the websites closed down and Apps taken out of the App stores as quickly as possible – sometimes on the same day we find the website or App.</i>
        <br/><br/><br/>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-play"></i></div>
          </div>
          <img class="img-fluid" src="https://www.ing.com/upload/3a203107-e27e-41f2-9277-4cbc775b2c35_certificateNL.jpg"
            alt="" />
            <br/><br/>
          <b>Phishing</b>
          <br /><i>A phishing attack is an online fraud technique which involves sending official-looking email messages with return addresses, links and branding that all appear to come from legitimate banks, retailers, credit card companies, etc. Such emails typically contain a hyperlink to a spoof website and mislead account holders to enter customer names.</i>
        </div>
      </div>

    </div>
  </div>

  <!-- Process Section-->
  <section class="page-section bg-primary text-white mb-0" id="personalize">
    <div class="container">
      <!-- Process Section Heading-->
      <h2 class="text-center text-uppercase text-white">Personaliseren</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <!-- To configure the consent receipt, go to .env file.-->
        <p class="lead">Verbind uw gedragsgegevens en personaliseer uw ervaring.</p>
        <p class="lead">We garanderen dat we nooit toegang hebben tot uw persoonlijke gegevens (meer informatie)</p>
        <div class="text-center mt-4">
          <a class="btn btn-xl btn-primary btn-outline-light" href="{{actionActivateConsent}}">
            <i class="material-icons mr-1">airplay</i>
            Verbind mijn ervaring
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- App Section-->
  <section class=" page-section portfolio" id="personalize">
  <div class="container">
    <!-- App Section Heading-->
    <h2 class="text-center text-uppercase">Scan-me</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- App Grid Items-->
    <div class="row">
       {{#if active}}
      <!-- App Item 1-->
     
      <div class="col-md-12 text-center">
      <p class="lead">Uw transacties zijn geanalyseerd op basis van uw bewegingen. Er zijn een verdachte transactie geconstateerd.</p>
     <div id="chartdiv"></div>
        
      </div>
      {{else}}
      <div class="col-md-12 text-center">
        <p class="lead">Analyseer zelf uw activiteiten en detecteer verdachte transacties.</p>
        <img src="https://chargebacks911.com/wp-content/uploads/2018/05/Travel-Fraud-Blog.gif" width="800" >
      </div>
      
      {{/if}}
    </div>
  </div>
</section>